<footer  class="site-footer">
    <div class="container">
        <h6>
            <p class="navbar-text pull-left">© 2015 - Sadjad University ACM ScoreBoard</p>
            <p class="navbar-text  pull-right">Developed with Pleasure (Version <%- data.version%>) </p>
        </h6>
    </div>
</footer>
</body>
<script type="application/javascript" src="../scoreboard/js/tsort.min.js"> </script>
<script type="application/javascript" src="../scoreboard/plugins/toastr/toastr.min.js"> </script>
<script type="application/javascript" src="../scoreboard/js/index.js"> </script>
<script type="application/javascript" src="../scoreboard/js/pace.min.js"> </script>
</html>