<% include header %>
<body>
<div id="login">
</div>
<div  class="container">
    <div id="nav">
    </div>
    <div  class="panel panel-default">
      <div class="panel-heading"><strong id="sub"></strong></div>
      <div id="main"  class="panel-body">
      </div>
    </div>
</div>
</body>
<% include footer%>