
<legend style="text-align: center">Sadjad ACM Scoreboard </legend>
<div class="table-responsive">
    <table id="scoreboard" class="table table-bordered tableSorter">
        <thead>
        <tr class="info">
            <th>Row</th>
            <th></span>Codeforces Username</th>
            <th>Score</th>
            <th>Rating</th>
            <th>Max Rating</th>
            <th>Ranking</th>
            <th>Max Ranking</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
